<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name:</label>
                    <input placeholder="Enter your Name"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">RollNo:</label>
                    <input placeholder="Enter your RollNo"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">AdmissionNo:</label>
                    <input placeholder="Enter your AdmissionNo"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">College:</label>
                    <input placeholder="Enter your College"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Department:</label>
                    <select name="" id="" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Computer Science Engineer">Computer Science Engineer</option>
                        <option value="Electronic Communication Engineer">Electronic Communication Engineer</option>
                        <option value="Mechanical Engineer">Mechanical Engineer</option>
                        <option value="Civil Engineer">Civil Engineer</option>
                        <option value="Bio Technology Engineer">Bio Technology Engineer</option>
                        <option value="Chemical Engineer">Chemical Engineer</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Blood Group:</label>
                    <select class="form-control"name="" id="">
                        <option value="Select">Select</option>
                        <option value="A-">A-</option>
                        <option value="B+">B+</option>
                        <option value="B-">B-</option>
                        <option value="O-">O-</option>
                        <option value="O+">O+</option>
                        <option value="AB+">AB+</option>
                        <option value="AB-">AB_</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Birth:</label>
                    <input placeholder="Enter your Date of Birth"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Parent Name:</label>
                    <input placeholder="Enter your Parent Name"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Parent Email ID:</label>
                   <input placeholder="Enter your Parent Email ID"type="email" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Guardian Name:</label>
                    <input placeholder="Enter your Guardian Name"type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Guardian Address:</label>
                    <textarea placeholder="Enter your Guardian Address" name="" id="" cols="30" rows="10"class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success" type="button">Submit</button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>