<app-navbar></app-navbar>
<br>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name:</label>
                    <input placeholder="Enter your Name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Department:</label>
                    <select name="" id="" class="form-control">
                        <option value="Select">Select</option>
                        <option value="Computer Science Engineer">Computer Science Engineer</option>
                        <option value="Electronic Communication Engineer">Electronic Communication Engineer</option>
                        <option value="Mechanical Engineer">Mechanical Engineer</option>
                        <option value="Civil Engineer">Civil Engineer</option>
                        <option value="Bio Technology Engineer">Bio Technology Engineer</option>
                        <option value="Chemical Engineer">Chemical Engineer</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Designation:</label>
                    <input placeholder="Enter your Designation" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Birth:</label>
                    <input placeholder="Enter your Date of Birth" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Education Qualification:</label>
                    <input placeholder="Enter your Education Qualification" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address:</label>
                    <textarea placeholder="Enter your Address" name="" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Mobile No:</label>
                    <input placeholder="Enter your Mobile No" type="tel" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Date of Joining:</label>
                    <input placeholder="Enter your Date of Joining" type="date" name="" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button class="btn btn-success" type="button" [disabled]="status" (click)="addFaculty()">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>